<%- include ( './partials/head' ); %>

<body class="">
<%- include ( './partials/header' ); %>
<%- include ( './partials/contacto' ); %>
<div class="container mb-5" id="banner"></div>
<div class="container mb-5" id="portfolio">
    <%- include ( './partials/galeria' ); %>
</div>
<div>

</div>

</body>
<%- include ( './partials/footer' ); %>